{% extends 'student_template/base_template.html' %}

{% block page_title %}
    Добавление видеоуроков
{% endblock page_title %}

{% block main_content %}

{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html>
<head>
    <title>Загрузить видео</title>
</head>
<body>
    <h1>Загрузить видео</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Подписаться</button>
        </div>
    </form>
</body>
</html>
{% endblock main_content %}