<!DOCTYPE html>
<html>
<head>
    <title>Video List</title>
</head>
<body>
    <h1>Video List</h1>
    <ul>
        {% for video in videos %}
            <li>{{ video.title }} <video width="320" height="240" controls>
            <source src="{{ video.video_file.url }}" type="video/mp4"></video></li>
        {% empty %}
            <li>No videos have been uploaded.</li>
        {% endfor %}
    </ul>
    {% if student.user_type!=3 %}
    <a href="{% url 'upload_videos' %}">Upload another video</a>
    {% else %}
    <p></p>
    {% endif %}
</body>
</html>